{% if pageCount > 1 %}
    <ul class="pagination pagination-primary justify-content-center">
    <li class="page-item previous {% if previous is not defined %}disabled{% endif %}">
        {% if previous is not defined %}
            <a class="page-link" href="#">
                <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
            </a>
        {% else %}
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
            </a>
        {% endif %}
    </li>


    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page-item page">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="page-item active current">
                <a class="page-link" href="#">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}


    <li class="page-item next {% if next is not defined %}disabled{% endif %}">
        {% if next is not defined %}
            <a class="page-link" href="#">
                <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
            </a>
        {% else %}
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
            </a>
        {% endif %}
    </li>
{% endif %}
