{% if pageCount > 1 %}
    <nav class="navigation mt-4">
        <ul class="pagination pagination-primary justify-content-center">
            <li class="page-item previous {% if previous is not defined %}disabled{% endif %}">
                {% if previous is not defined %}
                    <a class="page-link" href="#">
                        <span aria-hidden="true">
                            <twig:ux:icon name="bi:chevron-left" />
                        </span>
                    </a>
                {% else %}
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                        <span aria-hidden="true">
                            <twig:ux:icon name="bi:chevron-left" />
                        </span>
                    </a>
                {% endif %}
            </li>

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item page">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active current">
                        <a class="page-link" href="#">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item next {% if next is not defined %}disabled{% endif %}">
                {% if next is not defined %}
                    <a class="page-link" href="#">
                        <span aria-hidden="true">
                            <twig:ux:icon name="bi:chevron-right" />
                        </span>
                    </a>
                {% else %}
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                        <span aria-hidden="true">
                            <twig:ux:icon name="bi:chevron-right" />
                        </span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}
