{% extends 'layouts/main.html.twig' %}

{% block title %}Twig Component List{% endblock %}

{% block content %}
    <h1>Standalone component</h1>
    <hr>
    <div>
        {# Heading components #}
        <h2>Heading components</h2>
        <hr>
        <div class="d-flex flex-column">
            <h1>H1 Title</h1>
            <h2>H2 Title</h2>
            <h3>H3 Title</h3>
            <h4>H4 Title</h4>
        </div>
        <hr>
        {# Button components #}
        <div>
            <h3>Button components</h3>
            <twig:Button size="small">Small Button</twig:Button>
            <twig:Button>Normal Button</twig:Button>
            <twig:Button size="large">Large Button</twig:Button>
            <br><br>
            <twig:Button>Default button</twig:Button>
            <twig:Button color="red">Red button</twig:Button>
            <twig:Button color="green">Green button</twig:Button>
        </div>
        <hr>
        {# Alink as button components #}
        <div>
            <h3>Link as button components</h3>
            <twig:ButtonLink size="small">Small Button</twig:ButtonLink>
            <twig:ButtonLink>Normal Button</twig:ButtonLink>
            <twig:ButtonLink size="large">Large Button</twig:ButtonLink>
            <br><br>
            <twig:ButtonLink>Default button</twig:ButtonLink>
            <twig:ButtonLink color="red">Red button</twig:ButtonLink>
            <twig:ButtonLink color="green">Green button</twig:ButtonLink>
        </div>
        <hr>
        {# Alert/Flash components #}
        <div>
            <h3>Flash message components</h3>
            <twig:Alert type="info">Info flash message</twig:Alert>
            <twig:Alert type="success">Success flash message</twig:Alert>
            <twig:Alert type="warning">Warning flash message</twig:Alert>
            <twig:Alert type="error">Success flash message</twig:Alert>
        </div>
        <hr>
    </div>
    <h1>Form component</h1>
    <div>
        {{ form_start(form) }}
        {{ form_row(form.datepicker, {attr: {'data-controller': 'datepicker'}}) }}
        {{ form_row(form.datetimepicker, {attr: {'data-controller': 'datepicker', 'data-enable-time': 'true'}}) }}
        {{ form_row(form.timepicker, {attr: {'data-controller': 'datepicker', 'data-enable-time-picker-only': 'true', 'data-enable-time': 'true'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
