<div {{ attributes.defaults({class:'sidebar-wrapper active'}) }} >
    <div class="sidebar-header position-relative">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="{{ path('home') }}"><img src="{{ asset('images/logo/logo.svg') }}" alt="Mazer"></a>
            </div>
            <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                <twig:ux:icon height="20px" width="20px" name="line-md:sunny-twotone-loop" />
                <div data-controller="dark" class="form-check form-switch fs-6">
                    <input class="form-check-input me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                    <label class="form-check-label"></label>
                </div>
                <twig:ux:icon height="20px" width="20px" name="line-md:moon-alt-twotone-loop" />
            </div>
            <div class="sidebar-toggler  x">
                <a href="#" class="sidebar-hide d-xl-none d-block">
                    <twig:ux:icon height="2rem" width="2rem" name="bi:x"/>
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            {% for sidebarItem in this.items %}
                {% if sidebarItem.isTitle == true %}
                    <li class="sidebar-title">{{ sidebarItem.name }}</li>
                {% else %}
                    {% set hasSubMenuActive = false %}
                    {% if sidebarItem.subMenu is defined %}
                        {% for sub in sidebarItem.subMenu %}
                            {% if sub.url == app.current_route %}
                                {% set hasSubMenuActive = true %}
                            {% endif %}
                            {% if sub.subMenu|length > 0 %}
                                {% for subsub in sub.submenu %}
                                    {% if subsub.url == app.current_route %}
                                        {% set hasSubMenuActive = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <li class="sidebar-item {% if sidebarItem.url == app.current_route or hasSubMenuActive == true %}active{% endif %} {% if sidebarItem.subMenu is defined and sidebarItem.subMenu|length > 0 %}has-sub{% endif %}">
                        <a href="{% if sidebarItem.url is not null %}{{ path(sidebarItem.url) }}{% else %}#{% endif %}" class='sidebar-link'>
                            {% if sidebarItem.pictureType == constant('PICTURE_TYPE_EMOJI', this) %}
                                <div class="fs-6">{{ sidebarItem.emoji }}</div>
                            {% else %}
                                <twig:ux:icon width="1.5rem" height="1.5rem" name="{{ sidebarItem.icon }}"/>
                            {% endif %}
                            <span>{{ sidebarItem.name }}</span>
                        </a>
                        {% if sidebarItem.subMenu is defined and sidebarItem.subMenu|length > 0 %}
                            <ul class="submenu {% if hasSubMenuActive == true %}active{% endif %}">
                                {% for sub in sidebarItem.subMenu %}
                                    {% set isSubActive = sub.url == app.current_route or app.current_route in sub.activeByHiddenChildren|default({}) %}
                                    <li class="submenu-item {% if isSubActive %}active{% endif %} {% if sub.subMenu|length > 0 %}has-sub{% endif %}">
                                        <a href="{{ path(sub.url) }}" class="submenu-link">{{ sub.name }}</a>
                                        {% if sub.subMenu|length > 0 %}
                                            <ul class="submenu submenu-level-2 ">
                                                {% for subsub in sub.submenu %}
                                                    <li class="submenu-item {% if subsub.url == app.current_route %}active{% endif %}">
                                                        <a href="{{ path(subsub.url) }}" class="submenu-link">{{ subsub.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
